@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.card {
  max-width: 600px;
  margin: 0 auto 30px;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px black;
}